html {
}

body {
    height: 100%;
    width: 100%;
}

div#game_wrapper {
    position: absolute;
    background-color: #efefef;
}

.cell {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #ffd800;
    text-align: center;
    line-height: 20px;
    z-index: 2;
}

.food {
    background-color: #0094ff;
    border-radius: 4em;
}

.head {
    background-color: #ff6a00;
    border-radius: 4em;
}

.wall {
    background-color: #808080;
}

.body {
    background-color: #ffd800;
    border-radius: 4em;
}

.tail {
    opacity: 0.7;
    border-radius: 4em;
}

.gulp {
    z-index: 3;
    border: 1px dashed #0094ff;
    background-color: #0094ff;
    border-radius: 4em;
    opacity: 0.3;
}
